PORT=5000
NODE_ENV=production

# Gmail credentials
EMAIL_SERVICE=gmail
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_16_char_app_password
EMAIL_FROM=your_gmail@gmail.com

# Where contact form submissions will be sent to
EMAIL_TO=dbuglabs@gmail.com
